* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-weight: 600;
}

body {
  background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
}
.mainbody {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 10px 18px;
  /* background-color: black;
  color: white; */
  border-radius: 25px;
  font-size: large;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}

.select {
  background-color: black;
  color: white;
}
/* .select:active {
  background-color: white;
} */

option {
  background-color: white;
  color: black;
}

.background-img {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  margin-top: 20px;
  background-blend-mode: difference;
  background-image: url("real");
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  margin: 0 20px;
}

.background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.title {
  font-size: 4em;
  margin: 10px;
}
.box {
  color: white;
  text-align: center;
  width: 50%;
}
.para {
  font-size: 2em;
  margin: 10px;
}
.membership {
  font-size: 2em;
  background-color: red;
  color: white;
}

.block {
  width: 80%;
  color: white;
  margin: 20px;
}

.img {
  margin-top: 20px;
  margin-left: 20px;
  width: 12rem;
  height: 25rem;
  border-radius: 5px;
}

.img:hover {
  margin-top: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.numbering {
  position: absolute;
  font-size: 4rem;
  top: 8rem;
  left: -0.5rem;
  z-index: 100;
}

.items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reason {
  background-color: black;
  position: absolute;
  width: 100%;
}
.reasons {
  margin: 20px;
  width: 200px;
  height: auto;
  font-weight: 100;
}
.common {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.8;
  border-radius: 8px;
  padding: 20px;
}

h5 {
  opacity: 1;
  font-size: 1.4rem;
  margin-bottom: 14px;
}

.reasons > p {
  opacity: 0.7;
}

.accordion {
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.symbol {
  font-size: 1.5rem;
  font-weight: 100;
  cursor: pointer;
}

footer {
  opacity: 0.6;
  font-weight: 100;
}

li {
  list-style: none;
  text-decoration: underline;
}

.modal {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  width: 40vw;
  height: 30vh;
}

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
